.command-logotype {
  display: flex;
  align-items: center;
  gap: 14px;

  p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;

    @media (max-width: 510px) {
      font-size: 14px;
    }
  }

  &__img {
    @media (max-width: 510px) {
      max-width: 28px;
    }
  }

  @media (max-width: 510px) {
    gap: 6px;
  }
}
