.base-container-1920 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  padding: 53px 42px;
}

.base-container-1440 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.base-container-991 {
  max-width: 991px;
  width: 100%;
  margin: 0 auto;
}

.base-container-410 {
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
}
