.command-list-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 36px;

  background-color: var(--secondary-dark-color);
  border-radius: var(--border-radius-default);

  gap: 32px;

  @media (max-width: 510px) {
    flex-direction: column;
    gap: 12px;

    padding: 8px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
  }

  &__score {
    font-size: 20px;
    font-weight: 600;
    color: var(--default-white-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    overflow: hidden;

    @media (max-width: 510px) {
      font-size: 14px;
    }
  }

  &__wrapper-dropdown {
    display: flex;
    align-items: center;
    gap: 16px;

    width: 100%;

    @media (max-width: 510px) {
      flex-direction: column;
      gap: 12px;
    }
  }
  &__wrapper-statistic {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__wrapper-command-stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    gap: 25px;

    transition: all 0.25s ease-in-out;

    animation: smooth-appearance 0.5s ease-in-out forwards;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__icon-chevron {
    max-height: 30px;
    max-width: 30px;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-default);

    transform: scale(-1);

    transition: all 0.1s ease-in-out;

    cursor: pointer;

    @media (min-width: 768px) and (hover: hover) {
      &:hover {
        padding: 4px;
        background-color: var(--third-dark-color-50);
        border: 1px solid #fff;
      }
    }

    &__active {
      transform: scale(1);
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: #13181f;
    position: relative;

    display: none;

    &__stamp {
      font-size: 14px;
      font-weight: 600;
      position: absolute;
      color: #313a47;

      background: var(--secondary-dark-color);

      padding: 0px 8px;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: 991px) {
      display: block;
    }
  }

  &__desktop {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }

  &__mobile {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

@keyframes smooth-appearance {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
