body {
  font-family: 'Inter', sans-serif;
  font-style: normal;

  height: 100vh;
  background: var(--primary-dark-color);
}

h1 {
  font-family: 'TacticSans', sans-serif;
  color: #fff;
}

.section-matches {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 12px;

    @media (max-width: 510px) {
      flex-direction: column;
      gap: 32px;
    }
  }
  &__title {
    font-size: 32px;
    font-weight: 500;
    color: #fff;

    width: 100%;

    @media (max-width: 510px) {
      text-align: center;
    }
  }
  &__actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;

    @media (max-width: 510px) {
      flex-direction: column;
      gap: 12px;
      justify-content: center;
    }
  }

  &__title-with-filter {
    display: flex;
    align-items: center;
    gap: 4px;

    width: 50%;

    @media (max-width: 510px) {
      flex-direction: column;
      gap: 32px;
      width: 100%;
    }
  }
}

.matches-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-top: 20px;

  &__loading-data {
    color: var(--default-white-color);
    font-size: 32px;
    text-align: center;
  }

  @media (max-width: 510px) {
    gap: 8px;
  }
}

.animation-spin {
  -webkit-animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
